version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: exam_db
    environment:
      POSTGRES_USER: exam_user
      POSTGRES_PASSWORD: exam_pass
      POSTGRES_DB: exam_db
    ports:
      - "5433:5433"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: backend
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    depends_on:
      - db
      - ai-service

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  ai-service:
    build: ./ai-service
    container_name: ai-service
    ports:
      - "7000:7000"

volumes:
  db_data:
