apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: exam-ingress
spec:
  rules:
  - host: exam.yourdomain.dpdns.org
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend
            port:
              number: 80
